<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Password Generator - Secure Key</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body ng-app="app" ng-controller="myController">

    <header ng-show="showItem.header">
      <h1>Secure Key</h1>
    </header>
    

    <main id="main">
      <div ng-show="showItem.keygenHeaderCard" class="card-header">
        <h2>Generate a secure password base on your preference!</h2>
      </div>

      <div ng-show="showItem.keygenBtn" class="generate-btn">
        <button id="generate" class="btn" ng-click="keygenStart ()">Generate Password</button>
      </div>

   
      <section ng-show="showItem.keygenPrefChar" class="keygen-pref-char">
        <h2>Choose how many characters for your password.</h2>
        <div id="char-num-tips">Min 8 and Max 128 characters</div>
        <br><br>
        <button class="btn-change-char" ng-click="kengenCharNumSub ()">-</button> <input type="text" class="input-change-char" ng-model="kengenCharNum" minlength="1" maxlength="3"/> <button class="btn-change-char" ng-click="kengenCharNumAdd ()">+</button>
        
        <br><br>
        <button ng-show="showItem.keygenNextBtn" class="btn" ng-click="keygenPrefChar ()">Next</button>
      </section>

      <section id="char-type-section" ng-show="showItem.keygenPrefType" class="keygen-pref-type">
        <h2>Choose what type of characters are in your password.</h2>
      
        <ul>
          <li><input type="checkbox" ng-model="cbKeygenType.lowercase">&nbsp;&nbsp;&nbsp;Lowercase</li>
          <li><input type="checkbox" ng-model="cbKeygenType.uppercase">&nbsp;&nbsp;&nbsp;Uppercase</li>
          <li><input type="checkbox" ng-model="cbKeygenType.numeric">&nbsp;&nbsp;&nbsp;Numeric</li>
          <li><input type="checkbox" ng-model="cbKeygenType.specialChar">&nbsp;&nbsp;&nbsp;Special Characters</li>
        </ul>

        <br><br>
        
        <button class="btn" ng-click="keygenConfirm ()">{{btns.keygenConfirmBtn}}</button>
      </section>

      <section class="keygen-display" ng-show="showItem.keygenSecureKeyDisplay">


        <div id="secure-key-div">{{secureKey}}</div>
     
      
      </section>
    </main>

    <footer>
      Thank you for using!
    </footer>

    <script src="./assets/js/angular.min.js"></script>
    <script src="./assets/js/angular-animate.min.js"></script>

    <script src="./assets/js/script.js"></script>
  </body>
</html>
